# vim:set ts=4 sts=4 sw=4 noexpandtab:
# Local/private config goes in the include
[include]
	path = ~/.gitconfig.local
[alias]
	g = grep -Ii
	co = checkout
	cob = checkout -b
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	fu = fetch upstream
	dw = diff --word-diff
	dc = diff --cached
	rename = branch -m
	unstage = reset HEAD --
	discard = checkout --
	conflicts = diff --name-only --diff-filter=UDX
	count = git rev-list --count
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[fetch]
	prune = true
	[branch]
		autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
